<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FireBirdConnectionString" connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Database=C:\Users\gabri\Dropbox\desafio\bd_desafio\bd_desafio2.fdb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>